# Data artifacts
pagecounts-20160101-000000_parsed.out.zip
pagecounts-20160101-000000_parsed.out/
pagecounts-20160101-000000_parsed.out

# Python
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db

# Spark/Java logs
*.log

.venv/
.vscode/
*.ipynb
notebooks/output/
output/